@import './theme/colors.scss';


.app {
  position: relative;
  text-align: center;
  background-position: top center;
  object-fit: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 3px $main solid;
  height: 99vh;
  min-height: 420px;
  max-height: 1000px;

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    opacity: 0.1;
  }
}